FUTWORK1M_SID=futwork1m
FUTWORK1M_API_KEY=your_api_key_here
FUTWORK1M_API_TOKEN=your_api_token_here

FUTWORK12M_SID=futwork12m
FUTWORK12M_API_KEY=your_api_key_here
FUTWORK12M_API_TOKEN=your_api_token_here
